### Homework for the Module 1 of the ML Bootcamp

For reference of Commands of this course: 
    https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/appendix-d-pandas.ipynb

In [40]:
import pandas as pd
import numpy as np

__Q1. Pandas version__ <br>
What version of Pandas did you install?

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

__Q2. Records count__\
How many records are in the dataset?

In [7]:
num_rows = len(df)
num_rows

9704

__Q3. Fuel types__ \
How many fuel types are presented in the dataset?

In [8]:
df.fuel_type.nunique()

2

__Q4. Missing values__ \
How many columns in the dataset have missing values?

In [9]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

__Q5. Max fuel efficiency__ \
What's the maximum fuel efficiency of cars from Asia?

In [18]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

__Q6. Median value of horsepower__ 
1. Find the median value of the horsepower column in the dataset. 
2. Next, calculate the most frequent value of the same horsepower column. 
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step. 
4. Now, calculate the median value of horsepower once again.

In [56]:
df.horsepower.median()

np.float64(149.0)

In [34]:
df.horsepower.mode()[0]

np.float64(152.0)

In [35]:
df.horsepower = df.horsepower.fillna(df.horsepower.mode()[0])

In [37]:
df.horsepower.median()

np.float64(152.0)

__Q7. Sum of weights__ \
Steps stated in the comments \
Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [45]:
# 1. Select all the cars from Asia
asian_cars = df[df['origin'] == 'Asia']

# 2. Select only columns vehicle_weight and model_year
selected_columns = asian_cars[['vehicle_weight', 'model_year']]

# 3. Select the first 7 values
first_7_values = selected_columns.head(7)

# 4. Get the underlying NumPy array. Let's call it x.
x = first_7_values.to_numpy() 

# 5. Compute matrix-matrix multiplication between the transpose of x and x. Let's call the result XTX.
XTX = x.T @ x
# a.dot(b) = a@b = np.matmul(a,b) (All for Dot Product)

# 6. Invert XTX.
XTX_inverse = np.linalg.inv(XTX)

# 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8. Multiply the inverse of XTX with the transpose of x, and then multiply the result by y. Call the result w.
w = XTX_inverse @ x.T @ y

# 9. What's the sum of all the elements of the result?
sum_of_w = np.sum(w)
sum_of_w

np.float64(0.5187709081074016)